**
!/download.py
!/entrypoint.sh
!/import.py
!/LICENSE
!/requirements.txt
!/update_verifier/LICENSE
!/update_verifier/lineageos_pubkey
!/update_verifier/requirements.txt
!/update_verifier/update_verifier.py

